.admin-manageusers {
    padding-top: 10px;
    text-align: center;
}

.admin-manageusers-users-grid {
    margin: auto;
    width: 1450px;
    height: 500px;
}

.admin-manageusers-users-grid-header {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    color: white;
    background-color: rgb(64, 64, 64);
}

.admin-manageusers-users-grid-value {
    text-align: left;
    font-size: 13px;
}

.admin-manageusers-users-grid-select {
    padding-left: auto;
}

.admin-manageusers .row {
    margin-bottom: 10px;
}

.admin-manageusers .search {
    width: 80%;
    margin: auto;
}

.admin-manageusers .search button{
    float: left;
    margin-right: 20px;
}