#showcase {
    position: relative;
    background: url('../../img/mysore-palace.jpg') no-repeat;
    background-size: 100% 730px;
    min-height: 500px;
    background-position-y: -70px;
    width: 100%;
}
#showcase .primary-overlay {
    background: rgba(43, 24, 12, 0.432);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skshome-events-cards {
    width: 80%;
    margin: 10px auto;
}

.skshome-events-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}