.sks-title-sec {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #cfcfd1;
    width: 100%;
    color: rgb(64, 64, 64);
    height: 100px;
    font-size: 20px;
    font-weight: 600;
    line-height: 100px;
    vertical-align: middle;
}